includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    excludePaths:
       - 'tests/Fixtures/*'
